.orderArea {
}

.orderTitle {
  text-align: center;
}

.orderWrapper {

}

.cardsArea {
  display: flex;
  flex-wrap: wrap;
}

.cardsOrder {
  min-width: 140px;
  text-align: center;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);

  &:last-child {
    margin-right: 0;
  }
}

.cardBtn {
  min-width: 26px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

  &:active {
    top: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }

  &:first-child {
    margin-right: 10px;
  }
}

.cardDisplay {
  display: inline-block;
  min-width: 25px;
  border-radius: 2px;
  border: 1px solid #000;
  margin-right: 10px;
  min-height: 24px;
}

.buttons {
  margin-bottom: 20px;
}

.cardButton {
  margin: 20px 0 20px 0;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 1);

  &:active {
    top:2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }
}

.confirmArea {
text-align: center;

}

.confirmItem {
  margin-right: 20px;
}

.orderWrapper {
  display: flex;
  max-width: 200px;
}

.snackBar {

}


