.cardsArea {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  overflow-y: auto;
  margin: 0 -10px;
}

.title {
  text-align: center;
}

.card {
  margin-bottom: 20px;
  padding: 0 10px;
}



.paginationArea {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}